﻿
@model IEnumerable<ACB.Models.CountryViewModel>
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
Search :

@Html.TextBox("CountryName", "", new { placeholder = "Type here to search" })   @*@Html.ActionLink("Search", "Find_country", "Country_view")*@
@*<input type="button" id="btnsrch" value="Search" />*@
@*@using (Html.BeginForm("Find_country", "Country_view", FormMethod.Post))
    {
        @Html.TextBoxFor(model => model.lastname, new
    {
        @Value = "Enter Name"
    })
        @Html.ActionLink("Search", "Find_country", "Country_view")
    }*@

@*<input type="text" name="CountryName"/>@Html.ActionLink("Search", "Find_country", "Country_view")*@

<table class="table" id="all_dt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>

            <th> Edit/Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastname)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.id" style="color:red" onclick="return confirm('Are you sure you want to delete Country : @item.lastname')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/js/Country_index.js"></script>